%form{name: 'search'}  
  %input{type: 'text', ng: {model: 'ctrl.search.query'}, autofocus: true, placeholder: 'Business' }
  %input{type: 'text', ng: {model: 'ctrl.search.location'}, placeholder: 'Location'}
  %input.left.width-48.margin-right{type: 'text', ng: {model: 'ctrl.search.latitude'}, placeholder: 'Latitude'}
  %input.left.width-48{type: 'text', ng: {model: 'ctrl.search.longitude'}, placeholder: 'Longitude'}
  .clear
  %button#go{ng: {click: 'ctrl.query()'}}
    %i.fi-search
    GO
.box
  .box-header
    Business Results
  .box-content.no-padding
    %table.large-12
      %thead
        %tr
          %th.width-30 Name
          %th.width-40 Address
          %th.width-10 Rating
          %th.width-20
      %tbody
        %tr{ng: {repeat: %Q[restaurant in ctrl.restaurants | orderBy:ctrl.orderBy]}}
          %td {{restaurant.name}}
          %td {{restaurant.address}}
          %td 
            %span{ng: {show: 'restaurant.rating > 0'}}
              {{restaurant.rating}}
            %span{ng: {show: 'restaurant.rating === 0'}}
              ?
          %td.center
            %a.button.small{ng: {href: "#/restaurants/{{restaurant.source.key}}/{{restaurant.id}}"}}
              {{restaurant.source.name}}
        %tr{ng: {show: 'restaurant.length === 0'}}
          %td{colspan: 4}
            .no-results
              No Results For Your Query
